{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/logo-vams.png' %}" />
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="{% static '/assets/img/logo-vams.png' %}" alt="VAMS LOGO" width="80px" height="52px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/inicioSesion.html/">Iniciar Sesion</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Catalogo
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Aretes.html/">Aretes</a></li>
                    <li><a class="dropdown-item" href="/Collares.html/">Collares</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/Servicios.html/">Servicios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/SobreNosotros.html/">Sobre Nosotros</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>

   <title>Servicios de la Empresa</title>
   <style>
       
        header {
            background: #e2d4f9 ;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        .servicios {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
            border: 1px solid #915eae;
        }
        .servicio {
            background: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 10px;
            padding: 20px;
            width: 30%;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            border: 1px solid #e48ecf;
        }
        h2 {
            color: #d672de;
        }
    </style>
</head>
<body>
    <header>
      <h1 style="text-align: center; font-size: 30px; font-weight: bold; color: #866195; margin-bottom: 10px;">Nuestros Servicios</h1>
    </header>
    <div class="servicios">
        <div class="servicio">
            <h2>Asesoría </h2>
            <img src="https://i.pinimg.com/564x/82/86/30/8286307a6b1c4df7f44bc568e9e2f2df.jpg" class="card-img-top" alt="..." width="" height="315px"><br>
            <br><p style= "text-align: justify"> Ofrecer consultas en línea donde las clientas 
              puedan recibir recomendaciones de accesorios según 
              su estilo, ocasión o tendencias actuales.</p>
        </div>
        <div class="servicio">
            <h2>Personalización</h2>
            <img src="https://siemprehayalgoqueponerse.com/wp-contenido/uploads/2020/10/asesoras-de-imagen-personal-vigo-personal-shopper-siempre-hay-algo-que-ponerse-servicios-edited.jpg" class="card-img-top" alt="..."><br>
            <br><p style= "text-align: justify">
              Permitir a las clientas personalizar algunos productos, como collares o pulseras, eligiendo colores, materiales o añadiendo iniciales.</p>
        </div>
        <div class="servicio">
            <h2>Descuentos</h2>
            <img src="https://clemenciaperis.com/wp-content/uploads/2023/08/NL_blackfriday.png" class="card-img-top" alt="..." height="315px"><br>
            <br><p style= "text-align: justify">Informa sobre ofertas especiales, descuentos por tiempo limitado, o programas de fidelidad para clientes frecuentes.</p>
        </div>
        <div class="servicio">
            <h2>Testimonios Clientes</h2>
            <img src="https://acaddemia.com/wp-content/uploads/2022/08/Mujer-recibiendo-notoficacion.jpg" class="card-img-top" alt="..."  height="315px"><br>
            <br><p style= "text-align: justify">Comparte opiniones y experiencias de clientes satisfechos en nuestro formulario. Esto genera confianza y puede influir en la decisión de compra de nuevos clientes.</p>
        </div>
        <div class="servicio">
            <h2>Descripción Joyas</h2>
            <img src="https://secrecyjewels.es/blog/wp-content/uploads/2022/08/tipo-de-joyas.jpg" class="card-img-top" alt="..." height="315px"><br>
            <br><p style= "text-align: justify">Detallamos los tipos de accesorios que ofrecemos, como joyería, gafas y diademas. Incluye materiales, estilos y tendencias actuales.
            </p>
        </div>
    </div>


      <footer class="mt-5 p-3" style="background-color: rgba(187, 141, 214, 0.685);">
        <div style="display: flex; justify-content: center;">
        <p >&copy; 2024 Mi sitio web. Todos los derechos reservados.</p >
      </div>
</footer>
    </body>
    
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="{% static 'assets/js/swiper.js' %}"></script>